<!-- <h1>que fue Angular estas medio raro, my streamer favorita se llama {{bstreamer.toUpperCase()}}</h1>
<app-firstcomponent/> -->

<article>
    <h1>Que me parece Angular</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quisquam natus, voluptatibus magni sapiente qui
        veritatis velit maxime expedita dolorem ratione a soluta corrupti quam at, asperiores aliquid. Natus quia labore
        ducimus ratione vitae. Placeat nam explicabo, temporibus sapiente consequuntur maxime iusto ullam ipsam
        recusandae voluptates perferendis voluptatem. Quisquam, eum. Doloribus molestiae inventore error libero, quasi
        aperiam consequatur corrupti rerum, doloremque natus deserunt dolores amet sed nam dolor iste similique fugiat
        perspiciatis. Ipsum perferendis enim adipisci voluptate id voluptas earum debitis voluptates sapiente nam
        commodi eligendi ratione laborum numquam et possimus minus, sed perspiciatis. Nulla modi porro nobis temporibus
        aperiam ea consequuntur quibusdam pariatur quia fugit adipisci quis, impedit ullam veritatis cum, quasi enim
        sequi eum ut et nesciunt doloremque. Tenetur, necessitatibus accusamus aperiam modi vitae repellat ut suscipit
        maxime eos odit! Itaque id nisi impedit esse ducimus deserunt at quidem libero corporis atque harum, quasi
        quisquam temporibus illum! Omnis rerum tempore provident sit atque, nemo adipisci unde. Quae labore amet natus
        ut provident. Quam natus porro odio tenetur omnis fugit deserunt itaque enim tempore iusto fuga tempora,
        dignissimos vel maxime, ab mollitia asperiores consectetur culpa laborum nam doloribus alias harum? Cupiditate
        obcaecati maxime vitae ipsam consequatur repellendus! Iste, sunt!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, tenetur. Error perferendis officia labore ut
        dolore. Sed ratione eaque consequatur voluptatum, molestias debitis maxime, necessitatibus ullam ea fugit
        impedit doloribus iste qui deleniti ex minus optio, harum quas vitae provident? Aliquid quisquam quos excepturi
        tempora modi quo nulla quasi corporis doloribus expedita alias fuga labore, voluptas, ipsa corrupti, earum
        explicabo nisi voluptate! Molestias voluptatum est debitis aspernatur fuga perspiciatis corporis architecto
        ipsam culpa, assumenda quibusdam deserunt rem praesentium voluptates obcaecati hic id, ratione porro placeat
        alias veniam, commodi provident in facere! Commodi tempora cupiditate, placeat eligendi quia ab perspiciatis
        cumque necessitatibus assumenda neque ipsum exercitationem ad. Nihil totam esse perferendis sint. Doloribus
        quisquam sunt natus vitae quibusdam labore a laboriosam id ex magni veritatis officia exercitationem nemo, sint
        quaerat dignissimos commodi harum, eligendi obcaecati beatae laudantium minima facere est. Illo odit veritatis
        autem officia vel, tenetur delectus accusamus ea laboriosam molestiae dicta mollitia ab? Laboriosam, repellendus
        quae. Voluptatem consectetur nesciunt, qui deleniti deserunt quos ullam sed dicta eum aut autem maxime, unde
        ratione? Beatae facere eum vitae commodi sunt nemo magni nulla accusamus earum, assumenda nobis autem quo illum
        nam hic sequi! Maxime eos impedit ea. Consequuntur possimus quod deserunt, voluptate cupiditate quidem sunt, rem
        deleniti neque excepturi quisquam illum porro sapiente? Laboriosam animi pariatur obcaecati dolores atque
        repellendus, ullam assumenda velit laborum? Commodi totam reprehenderit, impedit nulla, dolorem tenetur,
        deleniti sit nobis at porro provident voluptas. At fugiat velit accusantium quia pariatur, tempore soluta quos
        error hic quo, iure debitis modi asperiores amet eligendi alias veritatis voluptatem inventore itaque
        reprehenderit? Assumenda ut aut unde molestiae porro laborum cumque earum nobis corporis. Consequuntur
        voluptatibus animi expedita voluptatum dolor, inventore id laudantium, eaque eum odit recusandae, quisquam quis
        numquam? Mollitia fugiat aut aliquam ipsum cupiditate, praesentium a quo quaerat voluptatum beatae!
    </p>


    @defer (on viewport) {
    <article>
        <img alt="imagen de prueba"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS09jnr9oh4GakVfe4Or-8o6Horc6uXlSBh1A&usqp=CAU" />
    </article>
    <!-- <app-templatecomponent /> -->
    }
    @placeholder {
    <p>.</p>
    }
    @loading (){
    <p>Cargando...........</p>
    }@error {
    <p>Ocurrió un error</p>
    }

</article>